<footer> 
    <div class="container">
      <div class="row justify-content-center align-items-md-baseline separadors-footers">
        <div class="col-7 col-md-3 reds-socials">
          <ul class="list-inline list-inline d-flex justify-content-center">
            <li class="list-inline-item"><a href="https://www.instagram.com/arri_tatanet/" target="_blank"><i class="fab fa-instagram hover-social"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/Adrilopmar" target="_blank"><i class="fab fa-github-square hover-social"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/adriàlopmar/" target="_blank"><i class="fab fab fa-linkedin hover-social"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
          <h6 class="text-center copyright">Copyright 
            <i class="far fa-copyright"></i> 2021, made by me. All rights reserved</h6>
      </div>
    </div>  
  </footer> 