.historia-nostre {
    padding: 70px 0; 
    /* background: #BFDBF7; */
    /* background: rgb(85, 171, 252); */
    padding-bottom: 10vw;
    }
    img{
      opacity: .8;
      margin: auto;
    }
  .hand{
    font-size: 38px;
  }
  .about-me {
    margin: 2vw auto; 
  }
.about-me h2 {
  margin-bottom: 2vw;
  /* border-bottom: 1px solid #674014; */
  font-weight: bold; }
.skills{
  background-color: #88ABC2;
  color:#233744;
  height: auto;
  width: 90%;
  margin: -6vw auto auto;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 15px 35px;
}
.personal-skills ul{
  padding: 0;
}
ul{
  margin: 0;
  flex-direction: column;
  list-style: none;
  
}
.container-skills{
  padding: 2vw ;
}
.separating{
  border-right: 1px solid rgba(61, 63, 65, 0.3);
  border-left: 1px solid rgba(61, 63, 65, 0.3);
}
.skills h4{
  font-weight: bolder;
}
.skills p {
  padding: 15px;
  font-size: 16px;
}
.icon-skills{
  margin: 1vw auto;
  font-size: 32px;
}
.class{
  color: #e6e6e6;
}
.padding-list{
  padding: 15px;
}
.true{
  color:#CAFF42 ;
}
.cv{
  text-decoration: none;
  color:#CAFF42 
}
@media (max-width:800px) {
  .about-me{
    width: 80%;
  } 
}
@media (max-width:767px) {
  .separating{
    border-left: none;
    border-right: none;
  }
  .container-skills{
    margin-top: 4vw;
    margin-bottom: 4vw;
    
  }
  .skills{
    margin-top: -30vw;
  }
  .historia-nostre{
    padding-bottom: 50vw;
  }
  
}