<section>
    <a id="quisom"></a>
      <article  class=" container about-me row historia-nostre justify-content-around" >
        <div class="col-12 col-md-6">
          <div class="">
                <h2 class="" >Hi, this is Adri. Nice to meet you <span class="hand"> 👋</span></h2>
                <p> I am a junior highly skilled <b> Angular developer</b> that has always liked programming. 
                  I still remember the first website that I tried to build… There were not even half of the tools that we have nowadays. 
                  I believe that programming is amazing, because bugs constantly challenge you to program more efficiently. 
                  In other words they teach you that less is better. </p>
                  <p> When I first discovered Angular I was immediately amazed by it and wanted to know more about it. 
                  It is hard at first, but when you start discovering it... aaah, it really makes your life simpler! 
                  I like to work hard on my projects; they must be perfect! 
                  And, in order to reach perfection, <b>patience</b>, <b>perseverance</b>, 
                  <b>hard work</b> and Google are my partners in crime.</p>
                 <p>Keep scrolling down to discover some of the amazing projects I’ve been able to work on so far!</p> 

              </div>
          </div>
          <div class=" d-flex col-8 col-md-4">
            <img src="assets/img/me.png" class="w-100" alt="">
          </div>
      </article>
      <article class="skills ">
        <div class="lenguages row justify-content-between ">
          <div class="col-12 col-md-4 container-skills text-center"><h4>Aims & Goals</h4>
            <i class="fas fa-crosshairs icon-skills"></i>
            <p>By 2022 my goal is to be working on a company as an angular professional Front-end developer with internationals projects and being surrounded by
            an amazing team with lovely people to keep learning, do my best for the project and the team and find opportunities to grow professionally and personally.   
            </p>
          </div>
          <div class="col-12 col-md-4 separating container-skills">
            <div class="text-center">
              <h4>Front-end Developer:{{'{'}}</h4>
              <i class="fas fa-code icon-skills"></i>
            </div>
            <div class="padding-list">
              <ul>
                <li>
                  "Program-with":<b class="true"> Angular</b>, // <i>Amazing potential - Like it!</i>
                </li>
                <li>
                  "languages-spoken":[
                  <ul>
                    <li><b class="true">Java Script</b>,</li>
                    <li><b class="true">Type Script</b>,</li>
                    <li><b class="true">JQuery</b>,</li>
                    <li><b class="true">CSS</b>,</li>
                    <li><b class="true">SASS</b>,]</li>
                  </ul>
                </li>
                <li>
                  "Tools": [
                  <ul>
                    <li><b class="true">Bootstrap</b>,</li>
                    <li><b class="true">Git & Github</b>,</li>
                    <li><b class="true">XAMMP</b>,</li>
                    <li><b class="true">VSCode</b>,]</li>
                  </ul>
                </li>
                {{'}'}}
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-4 container-skills personal-skills ">
            <div class="text-center">
              <h4 class="">{{'<'}} Personal Skills ></h4>
              <i class="fas fa-address-card icon-skills"></i>
            </div>
            <div class="padding-list">
            <ul>
              <li>
                <b>{{'<'}}Adri</b> class="<b class="true">Hard_worker Reliable</b>" id="<b class="true">Critical_thinking</b>"
              </li>
              <li>
                styles="<b class="true">Active_listening</b>: true;
              <b class="true">Adaptability</b>: flex; <b class="true">Teamwork</b>: 100%; "<b>{{'>'}}</b>
              </li>
              <li>
                <b>{{'<'}}/Adri{{'>'}}</b>
              </li>
            </ul>
            <ul>
              <b>{{'<'}}script{{'>'}}</b>
              <li>
                const Adri = ["<b class="true">Patience</b>", "<b class="true">Sincere</b>", "<b class="true">Positive</b>", "<span class="true">Empathy</span>"];
              </li>
              <li>Adri.push(<b class="true">Willingness_to_learn</b>);</li>
              <li>if(problem && !solution){{'{'}} Adri.find(<b class="true">Problem_solving</b>){{'}'}};</li>
              <li>else if(problem > Adri){{'{'}}Adri.concat(<b class="true">Understanding, Resilience</b>){{'}'}};</li>
              <b>{{'<'}}/script{{'>'}}</b> <br>
             <b>{{'<'}}/Personal Skills> </b> 
            </ul>
          </div>
          </div>
        </div>
      </article>
  </section> 