<section >
    <a id="quisom"></a>
      <article  class="historia-nostre" >
          <div class="container about-me">
              <h2 class="text-center">Hi, this is Adri. Nice to meet you.</h2>
              <div class="text-center my-description">
                <p> My name is <b> Adrià</b>, I am a junior <b> web developer in Angular</b>. I always liked programming. Still remember the first web site 
                  I tried to build, there were not even the half tools nowadays we have. Under my point of view programming is amazing, bugs challenge you
                  to program efficiently in other words: less and better. When I discovered Angular I wanted to know more about. Learning is hard, but when 
                  you start to know... aaah, it changes everything and it makes you life simple. I like to work hard on my projects, they must be perfect!
                  at the moment <b>patience</b>, <b>perseverance</b>, <b>hard Work</b>  and google, are my partners in this journey.
                  A journey full of <b> challenges</b> and unknowns. A journey which I am pleased to be aboard!</p> 
              </div>
          </div>
      </article>
      <article class="skills ">
        <div class="lenguages row justify-content-between text-center">
          <div class="col-12 col-md-4 container-skills"><h4>Aims & Goals</h4>
            <i class="fas fa-crosshairs icon-skills"></i>
          <p>By 2022 my goal is to be working on a company as an angular professional Front-end developer with internationals projects and being surrounded by
            an amazing team with lovely people to keep learning, do my best for the project and the team and find opportunities to grow professionally and personally.   
          </p></div>
          <div class="col-12 col-md-4 separating container-skills">
            <h4>Front-end Developer</h4>
            <i class="fas fa-code icon-skills"></i>
            <p>As a Front-end developer mostly I work with <b>Angular</b> which I really like due to its potential. <br>
               <b>Java Script</b>, <b>Type Script</b>, <b>JQuery</b>,
              <b>CSS</b>,<b>SASS</b>, <b>HTML</b> are languages I speak. While <b>Bootstrap</b>, <b>Git & Github</b>, <b>XAMMP</b>, <b>VSCode</b> and <b>Node.js</b> 
              are tools I use to work.  
            </p> </div>
          <div class="col-12 col-md-4 container-skills"><h4>Personal Skills</h4>
            <i class="fas fa-tools icon-skills"></i>
            <p>Active listening. Adaptability, Willingness to learn. Teamwork. Problem solver. Critical thinking. Empathy. Patience. Responsible. Sincere. Understanding.
              Positive. Resilience.
            </p> </div>
        </div>
      </article>
  </section> 