<!-- 1st project -->
<div class="top-project" data-aos="fade-down" data-aos-duration="1500">
  <div class="row justify-content-between" >
    <div class="col-md-6" >
      <h4 class="d-flex title mb-3 ">Spotify API</h4>
      <p class="">This project has been made in purpose of learning more about API and get used to fetch and use its data. 
        Was very interesting working with <b>Authorization Tokens</b>  and implementing a <b> Dark Mode</b>. <br>
        In this project I have learnt <b>Async / Await</b> JavaScript functions really usefull which I am sure they will accompany me along the upcoming projects. 
      </p>
      <img class="d-md-none mt-3 mb-3 w-100" src="assets/img/SpotiApp.png" alt="">
        <div class="row justify-content-around">
          <a class="btn btn-site col-11 col-md-4 mt-3" target="blank_" href="https://adrilopmar.github.io/Spotifyapp">Go to site</a>
          <a class="btn btn-secondary col-11 col-md-4 mt-3" href="https://github.com/Adrilopmar/SpotiApp">Code</a>
        </div>
    </div>
    <div class="d-none d-md-flex col-md-6 ">
      <img class="w-100" src="assets/img/SpotiApp.png" alt="">
    </div>
  </div>
</div>
<!-- 2nd project -->
<div class="top-project left" data-aos="fade-down" data-aos-duration="1500" data-aos-delay="300">
  <div class="row justify-content-between">
    <div class="d-none d-md-flex col-md-6 ">
      <img class="w-100" src="assets/img/boutique-josep.png" alt="">
    </div>
    <div class="col-md-6">
        <h4 class="title">Online Store</h4>
        <p class="">Online Store. Nowadays stills  <b> under development</b> </p>
        <img class="d-md-none mt-3 mb-3 w-100" src="assets/img/boutique-josep.png" alt="">
        <div class="web-code-btns row justify-content-around">
            <a class="btn btn-site col-11 col-md-4 mt-3" target="blank_" href="https://adrilopmar.github.io/boutique/">Go to site</a>
            <a class="btn btn-secondary col-11 col-md-4 mt-3" href="https://github.com/Adrilopmar/boutique">Code</a>
        </div>
    </div>
  </div>
</div>
<!-- 3rd project -->
<div class="top-project" data-aos="fade-down" data-aos-duration="1500">
  <div class="row justify-content-between" >
    <div class="col-md-6" >
      <h4 class="d-flex title mb-3 ">Battle card Game</h4>
      <p class="">Angular Hero Battle is one of the projects I enjoyed the most.  
        I can say that I am really proud of this project which has a lot of potential. 
        The <b>problem solving </b>  and being <b> persistent</b>  
        were the key to develop this player versus player card game. 
      </p>
      <img class="d-md-none mt-3 mb-3 w-100" src="assets/img/angular-battle.png" alt="">
        <div class="row justify-content-around">
          <a class="btn btn-site col-11 col-md-4 mt-3" target="blank_" href="https://adrilopmar.github.io/heroesgame/">Go to site</a>
          <a class="btn btn-secondary col-11 col-md-4 mt-3" href="https://github.com/Adrilopmar/angular-Heroes-m12">Code</a>
        </div>
    </div>
    <div class="d-none d-md-flex col-md-6 ">
      <img class="w-100" src="assets/img/angular-battle.png" alt="">
    </div>
  </div>
</div>
<!-- 4th project -->
<div class="top-project left" data-aos="fade-down" data-aos-duration="1500" data-aos-delay="300">
  <div class="row justify-content-between">
    <div class="d-none d-md-flex col-md-6 ">
      <img class="w-100" src="assets/img/swapi.png" alt="">
    </div>
    <div class="col-md-6">
      <h4 class="title ">Star Wars API</h4>
      <p class="">This project was made with <b>Angular</b>. The aim of this project was to work and know more about <b>API requests</b> 
          which brought me to the wonderful world of the <b>CORS</b>' errors. 
          Apart of CORS, I have implemented an <b>inifite scroll </b>. Well actually it is not infinite... as the API I worked with has not infinit data, 
          the scroll cannot be infinite neither 
      </p>
      <img class=" d-md-none mt-3 mb-3 w-100" src="assets/img/swapi.png" alt="">
      <div class="web-code-btns row justify-content-around">
              <a class="btn btn-site col-11 col-md-4 mt-3" target="blank_" href="https://adrilopmar.github.io/SWapi/">Go to site</a>
              <a class="btn btn-secondary col-11 col-md-4 mt-3" href="https://github.com/Adrilopmar/Entrevista_SWAPI">Code</a>
      </div>
    </div>
  </div>
</div>