<div class=" contact-content">
  <i class="fas fa-arrow-left main back" routerLink="/"></i>
</div>
<div *ngIf="isOpen" [@flyInOut] class="form-content">
  <form  id="register-form"  class="form-inputs"  [formGroup]="contactForm" (ngSubmit)="onSubmitc($event, contactForm.value)" action="https://formspree.io/f/mzbyypdq" method="POST">
    <h5  class="text-center sub-titol">Contact</h5>
    <hr>
    <div class="row justify-content-around ">
      <div class="col-12 col-lg-6 cassella form-floating is-invalid"  >
        <input type="text" placeholder="Nom" name="nom" id="nouNom" class="form-control" formControlName="name" required
        [ngClass]="{'is-invalid': name.invalid && name.touched}">
        <label for="nouNom">Name</label>
        <div *ngIf="name.invalid && name.touched" class="invalid-feedback"> Name should be more than 4 characters.</div>
      </div>
      <div class="col-12 col-lg-6 cassella form-floating">
        <input type="email" placeholder="e-mail" id="nouMail" class="form-control" formControlName="email" required [ngClass]="{'is-invalid': email.invalid && email.touched}">
        <label for="nouMail">Email</label>
        <div *ngIf="email.invalid && email.touched" class="invalid-feedback">Insert a valid e-mail</div>
      </div>
      <div class="cassella form-floating">
        <textarea type="text" id="message" class="form-control" placeholder="Write your message here" formControlName="message" [ngClass]="{'is-invalid': message.invalid && message.touched}"></textarea>
        <label for="message">Message</label>
        <div *ngIf="message.invalid && message.touched" class="invalid-feedback">Message must be more than 50 characters.</div>
      </div>
      <hr>
      <div class="row justify-content-around">
        <button *ngIf="name.invalid || email.invalid || message.invalid" class="btn btn-secondary disabled" disabled value="registrar">Send </button>  
        <button *ngIf="name.valid && email.valid && message.valid" class="btn btn-site" id="submit-button" type="submit" value="registrar">Send </button>  
      </div>
    </div>
  </form>


</div>



