<div class=" contact-content">
  <i class="fas fa-arrow-left main back" routerLink="/main"></i>
</div>
<div *ngIf="isOpen" [@flyIn] class="form-content">
  <form  id="register-form"  class="prova"  [formGroup]="contactForm" (ngSubmit)="onSubmitc($event, contactForm.value)" action="https://formspree.io/f/mzbyypdq" method="POST">
    <h5  class="text-center sub-titol">Contact</h5>
    <hr>
    <div class="row justify-content-around ">
      <div class="col-12 col-lg-6 cassella form-floating is-invalid"  >
        <input type="text" placeholder="Nom " id="nouNom" class="form-control" formControlName="name" 
        [ngClass]="{'is-invalid': contactForm.get('name').errors && (contactForm.get('name').touched || contactForm.get('name').dirty)}">
        <label for="nouNom">Name</label>
        <div id="fail-reg-nom" class="invalid-feedback">Name is required</div>
      </div>
      <div class="col-12 col-lg-6 cassella form-floating">
        <input type="email" placeholder="e-mail" id="nouMail" class="form-control" formControlName="email" 
        [ngClass]="{'is-invalid': contactForm.get('email').errors && (contactForm.get('email').touched || contactForm.get('email').dirty)}">
        <label for="nouMail">Email</label>
        <div id="fail-reg-mail" class="invalid-feedback">Insert a valid e-mail</div>
      </div>
      <div class="cassella form-floating">
        <textarea type="text" id="message" class="form-control" placeholder="Write your message here" formControlName="message" [ngClass]="{'is-invalid': contactForm.get('message').errors}"></textarea>
        <label for="message">Message</label>
        <div id="fail-reg-message" class="invalid-feedback"></div>
      </div>
      <hr>
      <div class="row justify-content-around">
        <button mat-raised-button id="submit-button" type="submit" value="registrar">Send </button>  
      </div>
    </div>
  </form>


</div>



