/*----------------------------------- productes destacats*/

.contenidor-productes .productes {
  width: 90%;
   margin: 10vw auto 15vw auto;
}
.contenidor-productes .productes h2 {
  padding-bottom: 2vw;
  border-bottom: 1px solid #674014;
  font-weight: bold; 
  width: 40%;
  margin: 0 auto ;}

.contenidor-productes .productes a {
  text-decoration: none;
  color: #000; 
}
.producte-dest {
  top: 2vw;
  border-radius: 15px;
  }
  .hover-dest{
    position: relative;  
  }
.info-project{
  text-align: center;
  color: #f1f1f1;
  background-color: rgb(46, 46, 46);
  font-size: 24px;
  position: absolute;
  padding-top: 1.5vw;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 15px;
  transition: .45s;
}
.info-project b{
  color:orangered;
}
.more-info-btn{
  border-radius: 50px;
  border: 3px solid orangered;
  background-color: orangered;
  font-size: 18px;

}
.project-display{
  margin-top: 4vw;
}
h5{
  margin-top: 1rem;
}
  /*-----------------------------hovers productes*/
.info-project:hover{
  opacity: .9;
  transition: .45s;
}

@media (max-width:767px) {
  section{
    margin-top: 25vw;
  }
  .info-project{
    padding-top: 6vw;
  }
.project-display{
  margin: 8vw auto;
}
}