<section class="container-fluid contenidor-productes">
    <a id="productes" ></a>
      <article class="container productes text-center">
              <h2 class="w-50">My projects</h2>  
              <div class="row projects justify-content-center">
                <div class="col-12 col-md-5 project-display ">
                    <div class="hover-dest">
                      <div class="info-project">
                        <p>Battle card game. <br>
                         <b>Made with:</b> HTML, CSS, TypeScript, Angular, Bootstrap</p>
                         <!-- button must be made with ANGULAR MATERIAL -->
                         <a mat-button color="warn"  class="more-info-btn" (click)="moreDetails('heroBattle')">More info</a>
                      </div>
                      <img class="w-100 producte-dest" src="assets/img/angular-battle.png" alt="">
                    </div>
                    <h5 class="text-center">Angular Hero Battle</h5>
                </div>
                <div class="col-12 col-md-5 project-display">
                    <div class="hover-dest">
                      <div class="info-project"><p>Rocket Race. <br>
                        <b>Made with:</b> HTML, CSS, JavaScript, JQuery, Bootstrap</p>
                        <!-- button must be made with ANGULAR MATERIAL -->
                        <a mat-flat-button color="warn" class="more-info-btn" (click)="moreDetails('rocketRace')">More info</a>
                      </div>
                      <img class="w-100 producte-dest" src="assets/img/rocket-race.png" alt="">
                    </div>
                    <h5 class="text-center">Rockets Race Game</h5>
                </div>
                <div class="col-12 col-md-5 project-display">
                    <div class="hover-dest">
                      <div class="info-project"><p>API Request. <br>
                        <b>Made with:</b> HTML, CSS, JavaScript, JQuerya, Bootstrap</p>
                        <!-- button must be made with ANGULAR MATERIAL -->
                        <a mat-flat-button color="warn" class="more-info-btn" (click)="moreDetails('chuck')"> More info</a></div>
                      <img class="w-100 producte-dest" src="assets/img/Chuck-API.png" alt="">
                    </div>
                    <h5 class="text-center ">API Request</h5>
                </div>
                <div class="col-12 col-md-5 project-display">
                  <div class="hover-dest">
                    <div class="info-project"><p>Online Store under development <br>
                      <b>Made with:</b> HTML, CSS, JavaScript, Bootstrap.</p>
                      <!-- button must be made with ANGULAR MATERIAL -->
                      <a mat-flat-button color="warn" class="more-info-btn" (click)="moreDetails('josep')"> More info</a></div>
                    <img class="w-100 producte-dest" src="assets/img/boutique-josep.png" alt="">
                  </div>
                  <h5 class="text-center ">Online Store</h5>
              </div>
              </div>
      </article>
  </section>