<!-- Angular Hero Battle Project -->
<div *ngIf="data == 'heroBattle'">
    <div mat-dialog-conten class="">
        <h4 class="text-center">My project</h4> 
        <div t class="d-flex dialog-project" >
            <img class="" src="assets/img/angular-battle-2.png" alt="">
            <div class="info-project">
                <p> Angular Hero Battle is one of the projects I enjoyed the most. It was a project plenty of challenges and I would not be lying if I say that 
                    I thought about dropping out the project a few times and think of an easier one. Nowadays, after hard working on it, I can say that I am proud of 
                    this project which has a lot of potential. <br>
                    The <b>problem solving</b> and being  <b>persistent</b> were the key to develop this player versus player card game. I may say that apart of being 
                    proud of Angular Hero Battle, it helped me to understand how <b>Angular</b> works and learn a lot about this amazing framework.
                    
                </p>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="d-flex justify-content-between">
        <button mat-button [mat-dialog-close]="true"> Close</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true"> Go to site</button>
    </div>
</div>
<!-- Rocket Race Project -->
<div *ngIf="data == 'rocketRace'">
    <div mat-dialog-conten >
        <h4 class="text-center">My project</h4>  
        <div t class="d-flex dialog-project" >
            <img class="" src="assets/img/rocket-race.png" alt="">
            <div class="info-project">
                <p>
                    This project is not the hardest I worked on. Everything was smooth until the animations dropped by. The animations of this project were the one which
                    made me struggle. I have worked with animations before, but never made such animations with plenty of conditions on the back. <br>
                    Thanks to my <b>creativity</b> I was able to develop a simple game which may not be that easy to get more than 100k points. Don't believe so? 
                    I dare you to beat my record: 110.250
                </p>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="d-flex justify-content-between">
        <button mat-button [mat-dialog-close]="true"> Close</button>
       <button mat-raised-button color="primary" [mat-dialog-close]="true"> Go to site</button>
    </div>
</div>
<!-- Chuck API Request Project -->
<div *ngIf="data == 'chuck'">
    <div mat-dialog-conten>
        <h4 class="text-center">My project</h4> 
        <div t class="d-flex dialog-project" >
            <img class="" src="assets/img/Chuck-API.png" alt="">
            <div class="info-project">
                <p> This project is basically an API request. Everytime you click the button it makes a request to a Chuck Norris jokes API. 
                    Hope Chuck won't get mad at me. Not gonna write his name again... Better safe than sorry.
                    If you want to have fun with his jokes, do not hesitate to check this web out. 

                </p>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="d-flex justify-content-between">
        <button mat-button [mat-dialog-close]="true"> Close</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true"> Go to site</button>
    </div>
</div>

<div *ngIf="data == 'josep'">
    <div mat-dialog-conten>
        <h4 class="text-center">My project</h4>  
        <div t class="d-flex dialog-project" >
            <img class="" src="assets/img/boutique-josep.png" alt="">
            <div class="info-project">
                <p> This website is a Online store about cosmetics. Nowadays still under development

                </p>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="d-flex justify-content-between">
        <button mat-button [mat-dialog-close]="true"> Close</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true"> Go to site</button>
    </div>
</div>
<!-- Contact Dialog -->
<div *ngIf="data == 'contact'">
    <div mat-dialog-conten class="">
        <h4 class="text-center">Thanks for contacting me! see you in a while crocodile!</h4> 
    </div>
    <div mat-dialog-actions class="d-flex justify-content-end">
        <button mat-button [mat-dialog-close]="true"> Close</button>
    </div>
</div>