<nav class="navbar navbar-expand navbar-dark menu ">
  <div class=" w-100">
    <div class="" id="navbarSupportedContent">
      <ul class="navbar-nav textbar justify-content-between text-center container">
        <li class="nav-item nav-link active "><img src="./assets/img/firma-white.png" alt="">
        </li>
        <li class="nav-item active contact ">
          <a mat-stroked-button routerLink="/contact" class="nav-button-contact" >Get in touch!</a>
        </li>
      </ul>
    </div>
  </div>
</nav>