<section class="first-view">
  <div class="overlayDiv"></div>
    <app-nav-bar></app-nav-bar>
    <div class="text-center  justify-content-center welcome-content">
      <h3 class=" presentation">Front-end Developer</h3>
        <div class="quotation ">
           <p><q>Sometimes it is the people no one imagines anything of who do the things no-one can imagine</q> <br> -Alan Turing</p>           
        </div>
    </div>
</section>
<app-about></app-about>
<app-portfolio-display></app-portfolio-display>
<div class="footer-div d-flex justify-content-center">
    <div class="contact row align-items-center justify-content-around">
        <div class="col-12 col-md-4">
          <h4 class="text-center"> Anything to say?</h4>
        </div>
        <div class="d-none d-lg-inline col-md-4 text-center text-to-chat">
          <p >Wanna either chat or contact to work together?</p>
        </div>
        <div class="col-12 col-md-4 d-flex">
          <!-- button must be made with ANGULAR MATERIAL --> 
          <a routerLink="/contact" class="btn contact-btn"> Let's start it up!</a>
          <!-- button must be made with ANGULAR MATERIAL --> 
        </div>
      </div>
</div>
