.first-view{
    height: 500px;
    background: url("src/assets/img/header2-0.6.jpg") center/cover no-repeat;
    position: relative;
}
.welcome-content{
    margin: auto 0;
}
.overlayDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("src/assets/img/nope-header-1.png");
    z-index: 1;
}
.presentation{ 
    margin: auto;
    font-size:42px;
    font-weight: bold;
    color: #e6e6e6;
}

.quotation{
    font-style: oblique;
}

.contact{
    position: absolute;
    height: auto;
    background-color: #88ABC2;
    color:#233744;
    margin-top: -4.5vw;
    width: 80%;
    padding: 2vw 0;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 15px 35px;
  }
  .contact-btn{
    border-radius: 50px;
    background-color: #CAFF42;
    color: #233744;
    margin: auto auto;
    font-size: 18px;
  }
  .footer-div{
      position: relative; 
      
  }
  .text-to-chat p{
      margin: 0;
  }
  .btn{
    text-transform: uppercase;
    border-radius: 50px;   
    
 }
.btn:hover{
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
      translate: -3px -3px;
    }
  @media (max-width: 767px) {
      .contact{
          margin-top: -12vw;
      }
      .contact div{
          margin: 2vw;
      }
      .welcome-content{
        padding-top: 70px;
    }
  }


  
