<div class="row projects justify-content-center">
    <div class="d-none col-5 col-md-3 project-display ">
        <div class="hover-dest">
          <div class="info-project">
            <p>Battle card game. <br>
             <b>Made with:</b> HTML, CSS, TypeScript, Angular, Bootstrap</p>
             <!-- button must be made with ANGULAR MATERIAL -->
             <a mat-flat-button color="warn" class="more-info-btn" (click)="moreDetails('heroBattle')">More info</a>
          </div>
          <img class="w-100 producte-dest" src="assets/img/angular-battle.png" alt="">
        </div>
        <h5 class="text-center">Angular Hero Battle</h5>
    </div>
    <div class=" col-5 col-md-3 project-display">
        <div class="hover-dest">
          <div class="info-project"><p>Rocket Race. <br>
            <b>Made with:</b> HTML, CSS, JavaScript, JQuery, Bootstrap</p>
            <!-- button must be made with ANGULAR MATERIAL -->
            <a mat-flat-button color="warn" class="more-info-btn" (click)="moreDetails('rocketRace')">More info</a>
          </div>
          <img class="w-100 producte-dest" src="assets/img/rocket-race.png" alt="">
        </div>
        <h5 class="text-center">Rockets Race Game</h5>
    </div>
    <div class="col-5 col-md-3 project-display">
        <div class="hover-dest">
          <div class="info-project d-flex justify-content-center"><p class="d-none d-lg-block">
            <b>Made with:</b> HTML, CSS, TypeScript, Bootstrap</p>
            <!-- button must be made with ANGULAR MATERIAL -->
            <a mat-flat-button color="warn" class="more-info-btn " (click)="moreDetails('chuck')"> More info</a>
          </div>
          <img class="w-100 producte-dest" src="assets/img/register-cars.png" alt="">
        </div>
        <h5 class="text-center ">TypeScript project</h5>
    </div>
    <div class="col-5 col-md-3 project-display">
      <div class="hover-dest">
        <div class="info-project d-flex justify-content-center"><p class="d-none d-lg-block">
          <b>Made with:</b> HTML, CSS, TypeScript, Bootstrap</p>
          <!-- button must be made with ANGULAR MATERIAL -->
          <a mat-flat-button color="warn" class="more-info-btn " (click)="moreDetails('calculator')"> More info</a>
        </div>
        <img class="w-100 producte-dest" src="assets/img/calculator.png" alt="">
      </div>
      <h5 class="text-center ">Calculator</h5>
  </div>
  </div>