 /*--------------------------------navigation bar */
nav{
  margin-bottom:  3vw;
  padding-top: 3vw;
 
}
ul{ 
  list-style: none;
}
.btn{
  margin:auto;
  background: #CAFF42;
  text-transform: uppercase;
  border-radius: 50px;  
  z-index: 2; 
}

.btn:hover{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    translate: -3px -3px;
  }
img{
  width:100%;  
}
