app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Rubik
}

html, body, app-root { 
  height: 100%;
  width: 100%; 
background-color: #233744;
color: #cecece; ;
}
b{
  /* color:#CAFF42;*/
  font-weight: 900;
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
img{
  pointer-events: none;
}
